snippet // "comment"
/** ${1:comment} **/
endsnippet

snippet transition "transition"
-webkit-transition: ${1:property};
-moz-transition: $1;
-ms-transition: $1;
-o-transition: $1;
transition: $1;
endsnippet

snippet h1-6 "h1 to 6"
h1, h2, h3, h4, h5, h6 {
  $1
}
endsnippet
