snippet // "HAML comment" b
- # --------------------------------------
- # $0
- # --------------------------------------
endsnippet

snippet art "article"
%article
endsnippet

snippet fig "figure"
%figure
endsnippet
